<div class="section">
  <p>
    Mobiledoc is a publishing solution designed for both text and
    dynamically rendered cards. Posts are serialized into <a href="https://github.com/bustlelabs/mobiledoc-kit/blob/master/MOBILEDOC.md">Mobiledoc</a>, and
    rendered to DOM in a reader's browser.
  </p>
  <p>
    Read more on the <a href="https://github.com/bustlelabs/mobiledoc-kit">mobiledoc-kit</a>
    GitHub repo.
  </p>
</div>
<div class="section">
  <br>
  <h2>Try a Demo</h2>
</div>
<div class="container">
  <div class="pane">
    <div class="output full-left">
      <select id='select-mobiledoc' {{action 'changeMobiledoc' on='change'}}>
        <option disabled>Load a new Mobiledoc</option>
        <option value='simple'>Simple text content</option>
        <option value='empty'>Empty mobiledoc</option>
        <option value='simpleList'>List example</option>
        <option value='simpleCard'>Simple Card</option>
        <option value='imageCard'>Image Card</option>
        <option value='inputCard'>Card with Input</option>
        <option value='selfieCard'>Selfie Card</option>
        <option value='codemirrorCard'>Codemirror Card</option>
      </select>
      {{#mobiledoc-editor
          class='post-editor__editor'
          mobiledoc=mobiledoc
          cards=(mobiledoc-cards-list)
          on-change=(action 'didEdit')
        as |editor|}}
        <button {{action editor.addCardInEditMode 'image-card'}}>Add image</button>
        {{mobiledoc-toolbar editor=editor}}
      {{/mobiledoc-editor}}
    </div>
  </div>

  <div class="pane">
    <div class="output">
      <h4>Mobiledoc Output</h4>
      <pre class="serialized-mobiledoc-wrapper"><code id="serialized-mobiledoc">
      {{~ format-object editedMobiledoc ~}}
      </code></pre>
    </div>
  </div>
  <div class="pane">
    <div class="output full-right">
      <h4>Rendered with {{rendererName}} renderer</h4>
      <ul>
        <li>Use <button {{action 'setRenderer' 'dom'}}>DOM-Renderer</button></li>
        <li>Use <button {{action 'setRenderer' 'html'}}>HTML Renderer</button></li>
        <li>Use <button {{action 'setRenderer' 'text'}}>Text Renderer</button></li>
      </ul>
      <hr>
      {{component (concat 'mobiledoc-' rendererName '-renderer') mobiledoc=editedMobiledoc}}
    </div>
  </div>

</div>
